<!DOCTYPE html>
<html lang="en">
<html>
    <script src="https://js.radar.io/v1.1.0/radar.min.js" integrity="sha384-9gzMIZTQDnuwordlQUv+j9r2TDNLAaKXhSk+p/1jZV0tlnDQ8Bu6YVmTbLIG+dRg" crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Food</title>
</head>

<body>
    <div class="grid-container">
        <div class="full-width">
            <h1>hello.</h1>
        </div>
        <div class="full-width">
            <div class="start-button">
                <a href="{{ url_for('slacker_list') }}">
                    I want Food.
                </a>
            </div>
        </div>
        <div class="full-width">
            <div class="start-button">
                <a href="#">
                    I can deliver food.
                </a>
            </div>
        </div>
    </div>

</body>

</html>