<!DOCTYPE html>
<html lang="en">
<script src="https://js.radar.io/v1.1.0/radar.min.js"
    integrity="sha384-9gzMIZTQDnuwordlQUv+j9r2TDNLAaKXhSk+p/1jZV0tlnDQ8Bu6YVmTbLIG+dRg" crossorigin="anonymous">
</script>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Food</title>
</head>

<body>
    <div class="grid-container">
        <div class="full-width">
            <h1>hey there!</h1>
        </div>
        <div class="full-width">
            <a href="{{ url_for('add_slacker') }}">
                <div class="food-button">
                    I want Food.
                </div>
            </a>
        </div>
        <div class="full-width">
            <a href="{{ url_for('slacker_info') }}">
                <div class="food-button">
                    I can deliver food.
                </div>
            </a>

        </div>
    </div>

</body>

</html>